// Some useful defaults


// Import the defaults from libraies

@import "../../pstj/less/reset";
@import "../../pstj/less/material/headerpanel";


// Disable focus outline (Android)
*:focus {
  outline-style:none;
}

// Make iOS NOT display the focus when you tap.
html {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

// Some tweaking for ipad mini and chrome mobile
body {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

.header-content {
  height: 60px;
}

.header-content.header-panel-tall {
  height: 120px;
}

.test-element {
  width: 400px;
  height: 400px;
  background-color: red;
}

.core-tap {
  width: 200px;
  height: 200px;
  background-color: blue;
}
