.pstj-ng-cloak {
  display: none ! important;
}
.pstj-switch-off {
  visibility: hidden;
}
* {
  -webkit-box-sizing: border-box;
  /* @alternative */
  -moz-box-sizing: border-box;
  /* @alternative */
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
.drawer-panel {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.drawer-panel-drawer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  box-sizing: border-box;
  /* @alternative */
  -moz-box-sizing: border-box;
  /* @alternative */
  -webkit-box-sizing: border-box;
}
.drawer-panel.transition .drawer-panel-drawer {
  transition: -webkit-transform ease-in-out 0.3s, width ease-in-out 0.3s;
  /* @alternate */
  transition: transform ease-in-out 0.3s, width ease-in-out 0.3s;
}
.drawer-panel.transition .drawer-panel-main {
  transition: left ease-in-out 0.3s, padding ease-in-out 0.3s;
}
.drawer-panel-drawer > * {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  /* @alternative */
  -moz-box-sizing: border-box;
  /* @alternative */
  -webkit-box-sizing: border-box;
}
.drawer-panel.narrow-layout .drawer-panel-main {
  left: 0 ! important;
  padding: 0;
}
.drawer-panel.narrow-layout .drawer-panel-drawer:not(.selected) {
  -webkit-transform: translateX(-100%);
  /* @alternate */
  transform: translateX(-100%);
}
.drawer-panel.narrow-layout .drawer-panel-drawer.selected {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
}
.drawer-panel-main {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}
.drawer-panel.transition .drawer-panel-main {
  transition: left ease-in-out 0.3s, padding ease-in-out 0.3s;
}
.drawer-panel-scrim {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  visibility: hidden;
  opacity: 0;
  transition: opacity ease-in-out 0.38s, visibility ease-in-out 0.38s;
}
.drawer-panel.narrow-layout .drawer-panel-main:not(.selected) .drawer-panel-scrim {
  visibility: visible;
  opacity: 1;
}
*:focus {
  outline-style: none;
}
html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}
spiner {
  display: block;
  width: 200px;
  height: 200px;
  background-color: red;
}
.drawer-panel-main {
  background-color: red;
}
.drawer-panel-drawer {
  background-color: yellow;
}
.pstj-button {
  position: relative;
  background-color: #6ea4e6;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  padding: 5px 11px;
  outline: none;
  border: 1px solid #ffffff;
  font-weight: bold;
  background-position: center;
}
